.image-area
  .image-name
    %img{src: cover, id: 'picture-display', alt: "Cover picture", class: 'image-container', width: '500px'}
    %h3#picture-name
    %p(style="display:none" id="picture-id")

  #timer-button
    = form_tag("/start-guess", remote: true) do
      = hidden_field_tag :picture_type, picture_type
      = submit_tag 'Start!', class: 'btn btn-success btn-lg', id: 'start-button'

  #guess-form
    = form_tag("/handle-guess", remote: true) do
      = hidden_field_tag :picture_type, picture_type
      = text_field_tag(:guess)
      = submit_tag 'Submit', class: 'btn btn-primary', id: 'guess-button'