%h1 Drawing
.image-area
  %img{src: @drawing.image, id: 'show-drawing'}
  .caption
    .likes-group
      = link_to likes_path(drawing_id: @drawing.id), method: 'post', remote: true do
        %span.glyphicon.glyphicon-thumbs-up(aria-hidden="true" style="#{like_button_color}")
      %span#likes-count= " #{@drawing.likes.count} "
      Likes
    %h5
      by 
      - if @drawing.user
        = link_to show_user_path(@drawing.user), class: 'username-link' do
          = "#{@drawing.user.username} "
        = time_ago_in_words(@drawing.created_at) + " ago"
      - else
        anonymous 
        = time_ago_in_words(@drawing.created_at) + " ago"

  %h3#show-drawing-name ?

.comment-section
  = form_for [@drawing, Comment.new], remote: true do |f|
    = f.text_area :body
    = f.submit 'Submit', class: 'btn btn-success'

  %h5.comment-count= "User Comments(#{@drawing.comments.count})"
  .comments
    - @drawing.comments.each do |comment|
      .comment
        %p= comment.body
        by
        = link_to show_user_path(comment.user), class: 'username-link' do
          = "#{comment.user.username} "
        = time_ago_in_words(comment.created_at) + " ago"


:javascript
  $('#show-drawing-name').click(function(){
    $(this).html("#{@drawing.picture.name}");
  });