%h1 Choose a category to draw

.option-button
  = link_to 'Champions', '#', class: 'btn btn-primary button', id: 'draw-champions-button'
  = link_to 'Pros', '#', class: 'btn btn-primary button', id: 'draw-pros-button'

%h1 Choose a category to guess a drawing

.option-button
  = link_to 'Champions', '#', class: 'btn btn-primary button', id: 'guess-champions-button'
  = link_to 'Pros', '#', class: 'btn btn-primary button', id: 'guess-pros-button'

%h1 Browse pictures that have been drawn

.option-button
  = link_to 'Gallery', '#', class: 'btn btn-primary button', id: 'view-gallery-button'