.front
  %h1 Draw, Guess, and Share Your Favorite League of Legends Champions and Professional Players
  .front-gallery.image-gallery
    = render '/drawings/drawings'

  .front-list
    %h3
      Draw either a random 
      = link_to 'CHAMPION', draw_champions_path, class: 'front-links'
      or a random 
      = link_to 'PROFESSIONAL PLAYER', draw_pros_path, class: 'front-links'

    %h3
      Guess a drawing of a random
      = link_to 'CHAMPION', guess_champions_path, class: 'front-links'
      or a random
      = link_to 'PROFESSIONAL PLAYER', guess_pros_path, class: 'front-links'

    %h3
      Check out the drawings of others at the
      = link_to 'GALLERY', drawings_path, class: 'front-links'

    %h3
      Benefits of 
      - if user_signed_in?
        REGISTERING
      -else
        = link_to 'REGISTERING', new_user_registration_path, remote: true, class: 'front-links'
      for an account:
      %ul
        %li A Profile to view all your drawn pictures
        %li Ability to comment on drawings
        %li Ability to "Like" drawings